<div class="row">
  <div class="col-xs-12">
    <center><img id="logoImg" src="assets/img/tigerburger.gif" alt="">
    <h1>Eat-Da-Burger!</h1>
    </center>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8">
    {{#each burgers}}
      {{#unless this.devoured}}
        <div class="row">
          <div class="col-xs-7 col-md-7 data-item item-label">
            {{this.burger_name}}
          </div><div class="col-xs-1 col-md-1 data-item"></div>
          <div class="col-xs-4 col-md-4 data-item">
            <form class="form-inline" action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <div class="box"><button type="submit" class="btn">Devour it!</button></div>
            </form>
          </div>
        </div>
      {{/unless}}
    {{/each}}
  </div>
  <div class="col-xs-7 col-md-4">
    {{#each burgers}}
      {{#if this.devoured}}
        <div class="row">
          <div class="data-item item-label">{{this.burger_name}}</div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
<div class="row">
  <div class="col-xs-0 col-md-3"></div>
  <div class="col-xs-12 col-md-6">
  <center><form class="create-update-form" action="/" method="POST">
    <div class="form-group">
      <span class="help-block">Enter a burger you want to eat click the "Submit" button.</span>
      <input class="form-control" type="text" id="ca" name="burger_name" placeholder="your burger name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form></center></div>
  <div class="col-xs-0 col-md-3"></div>
</center></div>
